.module {
  position: absolute;
  z-index: 1000;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 36px;
  align-items: center;
  gap: 16px;

  *{
    padding: 8px 64px;
    border-radius: 4px;
  }
    h2 {
    font-size: 25px;
    padding: 0;
  }
  button {
    position: relative;
    cursor: pointer;
    background-color: #eee;
    
  }
  i {
    font-size: 35px;  
    padding: 0;  
  }
}
.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  z-index: 999;
}
