.preview {
  min-width: 130px;
  div {
    border: 1px solid #e7ecf0;
    width: 130px;
    height: 118px;
    margin: 13px 0;
    border-radius: 4px;
    cursor: pointer;
  }
  .active {
    border-color: #80D8C7;
  }
}