.purchaseContainer {
  font-family: "Inter", sans-serif;
  width: 90vw;
  min-height: 80vh;
  background-color: #fff;
  position: absolute;
  top: 93px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  border-radius: 6px;
  padding: 53px 12px;
  display: flex;
  flex-wrap: wrap;
  li {
    list-style: none;
  }
}
.overlay {
  position: fixed;
  background-color: hsla(0, 0%, 0%, 0.7);
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
}
.related {
  width: 100%;
  margin: 42px;
  overflow: hidden;
  h2 {
    font-size: 22px;
    font-weight: bold;
    line-height: 32px;
  }
  .cardContainer {
    display: flex;
    min-height: 400px;
    overflow: hidden;
    margin: 8px 0;
    gap: 8px;
  }
  .card {
    min-width: 238px ;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid #dee5ea;
    box-shadow: 0 0 4px 0px #eee;
    .img {
      min-height: 200px;
      width: 100%;
      position: relative;
      button {
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translate(-50%, 0%);
        background-color: #35afa0;
        color: #fff;
        padding: 8px;
        border-radius: 50%;
        display: inline-block;
        cursor: pointer;
        min-width: 40px;
        aspect-ratio: 1 / 1;
      }
    }
  }
}
.inner {
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
  flex: 1;
}
.cout {
  color: #00000062;
  flex-basis: 1fr;
  margin-top: auto;
}


