.wishlist {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  h2 {
    font-size: 25px;
    margin-bottom: 25px;
  }
}
.inner {
  min-width: 250px;
  max-width: 850px;
  padding:  16px 32px;
  width: 100%;
  margin: 16px;
  background-color: #fff;
  border-radius: 8px;
}
.heading {
    display: flex;
    background-color: #35AFA0;
    padding: 16px;
    border-radius: 8px;
    gap: 16px;
    > div{
        flex: 1;
        font-weight: 600;
                display: flex;
        justify-content: center;
        align-items: center;
    }
}
.wishlistItem {
    padding: 25px;
    margin: 16px 0;
    button {
        cursor: pointer;
    }
    display: flex;
    > * {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    i {
        font-size: 25px;
        color: rgb(128, 0, 0);
    }
}
.addTOCart {
    color: #000;
    border: 0;
    flex: 0;
    min-width: 120px;
    padding: 8px 16px;
    background-color: transparent;
    border: 1px solid #35AFA0;
    border-radius: 8px;
    transition: 0.4s;
}
.addTOCart:hover {
    background-color: #35AFA0;
}